<div class="reputation-container-total">
  <div class="reputation-box-total items-center rounded-md">


    <div class="flex justify-center items-center">
      <ul>

        <div class="container search" style="display: flex; flex-wrap: wrap; align-items: flex-start;">
          <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px;">Crear empresa</h1>
        </div>

        <li>
          <div class="p-6.5">

            <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
              <div class="w-full xl:w-1/2">
                <label class="mb-2.5 block text-black">
                  Nombre
                </label>
                <input type="text" [(ngModel)]="companyName"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>

              <div class="w-full xl:w-1/2">
                <label class="mb-2.5 block text-black">
                  Documento Legal
                </label>
                <input type="text" [(ngModel)]="legalDocument"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>
            </div>
            <!--div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Privado
              </label>
              <input type="text" [(ngModel)]="isPrivate"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div-->

            <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
              <div class="w-full xl:w-1/2">
                <label class="mb-2.5 block text-black">
                  Nombre del banco
                </label>
                <input type="text" [(ngModel)]="bankName"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>

              <div class="w-full xl:w-1/2">
                <label class="mb-2.5 block text-black">
                  abreviatura del banco
                </label>
                <input type="text" [(ngModel)]="bankAbbr"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Cuenta de banco
              </label>
              <input type="text" [(ngModel)]="accountNumber"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Codigo de contabilidad
              </label>
              <input type="text" [(ngModel)]="accountingCode"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Categoría
              </label>
              <input type="text" [(ngModel)]="category"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
              <div class="w-full xl:w-1/2">
                <label class="mb-2.5 block text-black">
                  Numero de Celular
                </label>
                <input type="text" [(ngModel)]="phoneNumber"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>

              <div class="w-full xl:w-1/2">
                <label class="mb-2.5 block text-black">
                  Descripción de celular
                </label>
                <input type="text" [(ngModel)]="phoneDescription"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Tipo de celular
              </label>
              <input type="text" [(ngModel)]="phoneType"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Correo
              </label>
              <input type="email" [(ngModel)]="email"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Descripción de correo
              </label>
              <input type="text" [(ngModel)]="emailDescription"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
              <div class="w-full xl:w-1/2">
                <label class="mb-2.5 block text-black">
                  País
                </label>
                <input type="text" [(ngModel)]="country"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>

              <div class="w-full xl:w-1/2">
                <label class="mb-2.5 block text-black">
                  Estado
                </label>
                <input type="text" [(ngModel)]="state"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Ciudad
              </label>
              <input type="text" [(ngModel)]="city"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                dirección
              </label>
              <input type="text" [(ngModel)]="street"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Codigo postal
              </label>
              <input type="text" [(ngModel)]="zipCode"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5">
              <label class="mb-2.5 block text-black">
                Dirección de pagina web
              </label>
              <input type="text" [(ngModel)]="webPageUrl"
                class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
            </div>

            <div class="mb-4.5" style="margin-top: 20px; margin-bottom: 20px;">
              <input type="checkbox" [(ngModel)]="isPrivate"
              id="default-checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="default-checkbox" class="mb-2.5 text-sm text-black">Privado</label>
            </div>

            <button (click)="createCompany()" class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px;">
              Guardar
            </button>
          </div>
        </li>
      </ul>


    </div>
  </div>
</div>
