<div class="reputation-container-total flex justify-center">
  <div class="reputation-box-total flex items-center space-x-2 p-2 rounded-md">

    <ul>
      <li>
        <section class="mb-5">
          <h1 class="text-2xl font-bold mb-2">Users</h1>
          <input type="text" placeholder="Search users" class="border p-2">
        </section>
      </li>

      <li>
        <div class="container mx-auto mt-5 grid grid-cols-3 gap-4">
          <!-- Copia 1 -->
          <a href="#">
            <div class="reputation-container flex justify-center">
              <div class="reputation-box flex items-center space-x-2 p-2 rounded-md">
                <div class="bg-blue-500 text-white rounded-full w-12 h-12 mt-3 mb-3 flex items-center justify-center">1</div>
                <div class="flex flex-col">
                  <div class="text-xl font-bold mb-1">Lelah Nichols</div>
                  <div class="text-sm text-gray-500 mt-1">Reputation: New user</div>
                </div>
              </div>
            </div>
          </a>

          <!-- Copia 2 -->
          <div class="reputation-container flex justify-center">
            <div class="reputation-box flex items-center space-x-2 p-2 rounded-md">
              <div class="bg-blue-500 text-white rounded-full w-12 h-12 mt-3 mb-3 flex items-center justify-center">2</div>
              <div class="flex flex-col">
                <div class="text-xl font-bold mb-1">Nombre 2</div>
                <div class="text-sm text-gray-500 mt-1">Reputation: User 2</div>
              </div>
            </div>
          </div>

          <!-- Copia 3 -->
          <div class="reputation-container flex justify-center">
            <div class="reputation-box flex items-center space-x-2 p-2 rounded-md">
              <div class="bg-blue-500 text-white rounded-full w-12 h-12 mt-3 mb-3 flex items-center justify-center">3</div>
              <div class="flex flex-col">
                <div class="text-xl font-bold mb-1">Nombre 3</div>
                <div class="text-sm text-gray-500 mt-1">Reputation: User 3</div>
              </div>
            </div>
          </div>

          <!-- Copia 4 -->
          <div class="reputation-container flex justify-center">
            <div class="reputation-box flex items-center space-x-2 p-2 rounded-md">
              <div class="bg-blue-500 text-white rounded-full w-12 h-12 mt-3 mb-3 flex items-center justify-center">4</div>
              <div class="flex flex-col">
                <div class="text-xl font-bold mb-1">Nombre 4</div>
                <div class="text-sm text-gray-500 mt-1">Reputation: User 4</div>
              </div>
            </div>
          </div>

          <!-- Copia 5 -->
          <div class="reputation-container flex justify-center">
            <div class="reputation-box flex items-center space-x-2 p-2 rounded-md">
              <div class="bg-blue-500 text-white rounded-full w-12 h-12 mt-3 mb-3 flex items-center justify-center">5</div>
              <div class="flex flex-col">
                <div class="text-xl font-bold mb-1">Nombre 5</div>
                <div class="text-sm text-gray-500 mt-1">Reputation: User 5</div>
              </div>
            </div>
          </div>

          <!-- Copia 6 -->
          <div class="reputation-container flex justify-center">
            <div class="reputation-box flex items-center space-x-2 p-2 rounded-md">
              <div class="bg-blue-500 text-white rounded-full w-12 h-12 mt-3 mb-3 flex items-center justify-center">5</div>
              <div class="flex flex-col">
                <div class="text-xl font-bold mb-1">Nombre 6</div>
                <div class="text-sm text-gray-500 mt-1">Reputation: User 6</div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>
