<div class="reputation-container-total flex justify-center">
  <div class="reputation-box-total flex items-center space-x-2 p-2 rounded-md">

    <ul>
      <li>
        <section class="mb-5">
          <h1 class="text-2xl font-bold mb-2">Users</h1>
          <input type="text" placeholder="Search users" class="border p-2">
        </section>
      </li>

      <li>
        <div class="container mx-auto mt-5 grid grid-cols-3 gap-4">
          <!-- Copia 1 -->
          <a (click)="onUserProfileClick()">
            <div class="reputation-container flex justify-center">
              <div class="reputation-box flex items-center space-x-2 p-2 rounded-md">
                <div class="bg-blue-500 text-white rounded-full w-12 h-12 mt-3 mb-3 flex items-center justify-center">1</div>
                <div class="flex flex-col">
                  <div class="text-xl font-bold mb-1">Bladimir Aponte</div>
                  <div class="text-sm text-gray-500 mt-1">bladap@gmail.com</div>
                </div>
              </div>
            </div>
          </a>

        </div>
      </li>
    </ul>

  </div>
</div>
