<div class="margin-init">
  <div class="container rounded-md">
      <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px;">Actualizar Contraseña</h1>

      <div class="form-row">
        <div class="input-data">
          <input [(ngModel)]="old_password" type="text" required>
          <div class="underline"></div>
          <label for="">Contraseña Actual</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input [(ngModel)]="new_password" type="text" required>
          <div class="underline"></div>
          <label for="">Contraseña</label>
        </div>
        <div class="input-data">
          <input [(ngModel)]="new_password_confirmation" type="text" required>
          <div class="underline"></div>
          <label for="">Confirmar Contraseña</label>
        </div>
      </div>
      <div class="select-input-data">
        <button (click)="changePassword()" class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px; margin-bottom: 20px;">
          Guardar
        </button>
      </div>
  </div>
