<div class="margin-init">
  <ul class="tab-box-total flex flex-wrap text-sm font-medium text-center text-gray-500 dark:border-gray-700 dark:text-gray-400" style="margin-left: 310px;">
    <li class="me-2">
      <a (click)="toggleBuscarButton()" class="tab-paddings inline-block p-4 rounded-t-lg"

      [ngClass]="{'text-blue-600 bg-color active': isBuscarButtonActive, 'hover:text-gray-600 hover:bg-gray-50': !isBuscarButtonActive }">
      Lista de Expedientes
    </a>
    </li>
    <li class="me-2">
      <a (click)="toggleBuscarAvzButton()" class="tab-paddings inline-block p-4 rounded-t-lg"
      [ngClass]="{'text-blue-600 bg-color active': !isBuscarButtonActive, 'hover:text-gray-600 hover:bg-gray-50':
      isBuscarButtonActive }">
      Busqueda
    </a>
    </li>
  </ul>
  <div class="container rounded-md">

    <div *ngIf="isBuscarButtonActive && !isBuscarAvzButtonActive">

      <button (click)="oncreateFilesClicked()" class="button-38" role="button" style="margin-left: 30px;">Crear</button>

      <div class="table-style">
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Referencia</th>
                        <th> Estado</th>
                        <th> Cliente</th>
                        <th> Nombre</th>
                        <th> Código Postal</th>
                        <th> Calle</th>
                        <th> Ciudad</th>
                        <th> Fecha de Inicio</th>
                        <!--th> Expediente </th-->
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let file of filesData">
                    <td data-title="Referencia">{{ file.code }}</td>
                    <td data-title="Estado">{{ file.status }}</td>
                    <td data-title="Cliente">{{ file.assignment }}</td>
                    <td data-title="Nombre">{{ file.type }}</td>
                    <td data-title="Código Postal">{{ file.zip_code }}</td>
                    <td data-title="Calle">{{ file.street }}</td>
                    <td data-title="Ciudad">{{ file.city }}</td>
                    <td data-title="Fecha de Inicio">{{ formatDateWithoutTime(file.start_date) }}</td>
                    <!--td>
                      <button (click)="onProfileFileClicked(file.file_id)" style="margin-left: 15px; padding-left: 7px; padding-right: 7px; padding-top: 7px; padding-bottom: 7px;" role="button" class="status delivered">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="m13.71 4.29l-3-3L10 1H4L3 2v12l1 1h9l1-1V5zM13 14H4V2h5v4h4zm-3-9V2l3 3z" clip-rule="evenodd"/></svg>
                      </button>
                      <!--button (click)="onProfileFileClicked('100111')" style="margin-left: 15px; padding-left: 7px; padding-right: 7px; padding-top: 7px; padding-bottom: 7px;" role="button" class="status delivered">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="m13.71 4.29l-3-3L10 1H4L3 2v12l1 1h9l1-1V5zM13 14H4V2h5v4h4zm-3-9V2l3 3z" clip-rule="evenodd"/></svg>
                      </button>
                    </td-->
                  </tr>
                </tbody>
            </table>
        </section>
      </div>

      <div class="center">
        <div class="pagination">
          <a class="button-38" (click)="onPreviousClick()">&laquo;</a>
          <a class="button-38" >{{paginationNumber()}}</a>
          <a class="button-38" (click)="onNextClick()">&raquo;</a>
        </div>
      </div>

    </div>

    <div *ngIf="!isBuscarButtonActive && isBuscarAvzButtonActive">
      <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px;">Busqueda de expedientes</h1>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Referencia Claim Center</label>
        </div>
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Referencia del cliente</label>
        </div>
      </div>

      <div class="select-input-data">
        <label class="block text-black">Estado</label>
          <div class="input-data">
          <select>
            <option> </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Cliente</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Fecha de Inicio</label>
        </div>
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Fecha del siniestro</label>
        </div>
      </div>

      <h2 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px;">Datos del asegurado</h2>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Nombre del asegurado/a</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">NIF/CIF</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Póliza del seguro</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Teléfonos</label>
        </div>
      </div>

      <h2 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px;">Datos del expediente</h2>

      <div class="select-input-data">
        <label class="block text-black">Ramo y clase</label>
          <div class="input-data">
          <select>
            <option> </option>
          </select>
        </div>
      </div>

      <div class="select-input-data">
        <label class="block text-black">Causa del siniestro</label>
          <div class="input-data">
          <select>
            <option> </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Actividad</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Referencia de asistencia</label>
        </div>
      </div>

      <h2 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px;">Lugar de la acción</h2>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Calle</label>
        </div>
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Ciudad</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Código Postal</label>
        </div>
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Provincia/Estado</label>
        </div>
      </div>

      <div class="select-input-data">
        <button class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px; margin-bottom: 20px;">
          Buscar
        </button>
      </div>
    </div>

  </div>
</div>
