#sidebar-multi-level-sidebar a {
  color: #ececec; /* Color del texto deseado */

}

#sidebar-multi-level-sidebar a:hover {
  background-color: #01539B; /* Color de fondo al pasar el ratón deseado */
  color: #ffffff; /* Color del texto al pasar el ratón deseado */
}
