<div class="reputation-container-total flex justify-center">
  <ul>
    <li>
      <h1 class=" title-text text-2xl font-bold mb-2">Perfil</h1>
    </li>
    <div class="reputation-box-total flex items-center space-x-2 p-2 rounded-md">

      <div class="flex justify-center items-center">
        <ul>

          <li>
            <div class="p-6.5">
              <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    First name
                  </label>
                  <input type="text" placeholder="Enter your first name"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>

                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    Middle Name
                  </label>
                  <input type="text" placeholder="Enter your last middle name"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>
              </div>

              <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    Last Name
                  </label>
                  <input type="text" placeholder="Enter your last name"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>

                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    Second Last name
                  </label>
                  <input type="text" placeholder="Enter your second last name"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>
              </div>

              <div class="mb-4.5">
                <label class="mb-2.5 block text-black">
                  Nombre de usuario
                </label>
                <input type="email" placeholder="Enter your username"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>

              <div class="mb-4.5">
                <label class="mb-2.5 block text-black">
                  Email
                </label>
                <input type="email" placeholder="Enter your email address"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>

              <div class="mb-4.5">
                <label class="mb-2.5 block text-black">
                  Legal Document
                </label>
                <input type="email" placeholder="Enter your legal document"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>

              <button class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container">
                Send Message
              </button>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </ul>
</div>
