<div class="margin-init">
  <ul class="tab-box-total flex flex-wrap text-sm font-medium text-center text-gray-500 dark:border-gray-700 dark:text-gray-400" style="margin-left: 310px;">
    <li class="me-2">
      <a (click)="emitProfileFilesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
      Expediente
    </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileInsuranceClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Seguro
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfilePoliciesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Poliza
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileHomeAddressClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Vivienda
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileCommunitiesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Comunidad
      </a>
    </li>
    <li class="me-2">
      <a class="tab-paddings inline-block p-4 rounded-t-lg text-blue-600 bg-color active">
        Siniestro
      </a>
    </li>
  </ul>
  <div class="container rounded-md">

    <div>
      <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px;">Siniestro</h1>

      <div class="form-row">
        <div class="input-data">
          <input disabled type="text" [(ngModel)]="claims_handler" required>
          <div class="underline"></div>
          <!--label for="">Tramitador</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled type="text" [(ngModel)]="handler_code" required>
          <div class="underline"></div>
          <!--label for="">Código tramitador</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled type="text" [(ngModel)]="client_reference" required>
          <div class="underline"></div>
          <!--label for="">Referencia del Cliente</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled type="text" [(ngModel)]="assistance_reference" required>
          <div class="underline"></div>
          <!--label for="">Referencia de Asistencia</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled type="text" [(ngModel)]="claim_causes" required>
          <div class="underline"></div>
          <!--label for="">Causa del siniestro</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled type="text" [(ngModel)]="ccs_company_reference" required>
          <div class="underline"></div>
          <!--label for="">Referencia de compañia</label-->
        </div>
      </div>

      <!--div class="select-input-data">
        <button class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px; margin-bottom: 20px;">
          Editar
        </button>
      </div-->
    </div>

  </div>
</div>
