.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.reputation-container-total .reputation-box-total {
  background-color: #fbfcff;
  border: 1px solid transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 300px;
  margin-right: 40px;
  padding: 50px;
}

.reputation-container .reputation-box {
  background-color: #fbfcff;
  border: 1px solid transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: background-color 0.5s, border 0.5s, box-shadow 0.5s;
  padding-bottom: 20px;
  width: 350px;
  padding-left: 20px;
  padding-right: 30px;
}

.reputation-container:hover .reputation-box {
  background-color: #fbfcff;
  border: 1px solid #d1d8ec;
  box-shadow: 0 4px 8px rgba(193, 206, 246, 0.3);
}

.search-input{
  width: 180px;
}

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-list li {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
}

.center {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  display: inline-block;
  margin-top: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.search{
 margin-left: 150px;
}

body {
  font-family: 'lato', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}



.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #01539B;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col {
    padding-right: 20px;
  }




  @media all and (max-width: 1000px) {

    .reputation-container-total .reputation-box-total {
      padding: 20px;
      margin-left: 100px;
    }

    .search{
      margin-left: 0px;
     }

    .reputation-container .reputation-box {
      width: 200;
    }

    .table-header {
      display: none;
    }

    li {
      display: block;
    }
    .col {

      flex-basis: 100%;

    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media only screen and (max-width: 768px) {
  .reputation-container-total .reputation-box-total {
    padding: 20px;
    margin-left: 100px;
  }

  .reputation-container-total .reputation-container-text  {
    margin-left: 60px;
  }

  .reputation-container .reputation-box {
    padding-left: 10px;
    padding-right: 10px;
  }
}
