<div class="reputation-container-total">

  <div class="reputation-box-total  items-center rounded-md">

    <div *ngIf="loading" role="status" class="flex items-center justify-center">
      <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
      </svg>
      <span class="sr-only">Loading...</span>
    </div>

    <div>
      <div *ngIf="!loading && !isContactMode && !showErrorSpinner">
        <ul class="hidden text-sm font-medium text-center text-gray-700 rounded-lg shadow sm:flex divide-gray-200">
          <li class="w-full">
              <button (click)="toggleBuscarButton()" class="inline-block w-full p-4 border-gray-300 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none" [ngClass]="{'bg-white border-r  rounded-e-lg': !isBuscarButtonActive, 'active text-gray-900 bg-gray-100 border-r': isBuscarButtonActive }">Buscar</button>
          </li>
          <li class="w-full">
              <button (click)="toggleBuscarAvzButton()" class="  inline-block w-full p-4 border-gray-300 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none" [ngClass]="{'bg-white border-0  rounded-e-lg': isBuscarButtonActive, 'active text-gray-900 bg-gray-100 border-0': !isBuscarButtonActive}">Busqueda Avz.</button>
          </li>
        </ul>
      </div>

      <div *ngIf="isBuscarButtonActive && !isContactMode && !showErrorSpinner">
        <div class="users-container">

          <div class="container search" style="display: flex; flex-wrap: wrap; align-items: flex-start;">
            <h1 class="text-2xl font-bold mb-2">Usuarios</h1>
          </div>

          <div  class="container search" style="display: flex; flex-wrap: wrap; align-items: flex-start; gap: 5px; margin-bottom: 20px;" >

            <input [(ngModel)]="searchInput" type="text" placeholder="Buscar Usuarios" class="search-input border p-2">

            <!--div style="position: relative;">
              <div class="relative inline-block text-left" [ngClass]="{ 'open': open }">
                <button (click)="toggleDropdown()" class="button-38">
                  Filtros
                </button>

                <div *ngIf="open" (click)="stopPropagation($event)" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
                  <div class="py-1">
                    <label *ngFor="let option of ['username', 'nombre', 'segundo nombre', 'apellido', 'segundo apellido', 'email', 'telefono', 'documento legal' ]" class="flex items-center space-x-2 px-4 py-2 cursor-pointer">
                      <input type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" [checked]="checkboxSelections[option]" (change)="onCheckboxChange(option); toggleCheckbox(option)" />
                      <span>{{ option }}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div-->

            <button (click)="onSearchClick()" class="button-38" role="button">Buscar</button>

            <button (click)="onEnableUserClick()" class="button-38" role="button" style="margin-left: auto;">Crear</button>
          </div>

          <div class="table-container">
          <main >
            <table>
              <thead style="background-color: #01539B;">
                <tr style="background-color: #01539B;">
                  <th style="background-color: #01539B;">
                    Correo
                  </th>
                  <th style="background-color: #01539B;">
                    Nombre
                  </th>
                  <th style="background-color: #01539B;">
                    Apellido
                  </th>
                  <th style="background-color: #01539B;">
                    Nombre de usuario
                  </th>
                  <th style="background-color: #01539B;">
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-row" *ngFor="let userData of userProfiles.results">
                  <td data-title="Correo">
                    {{ userData.user.email }}
                  </td>
                  <td data-title="Nombre">
                    {{ userData.user.first_name }}
                  </td>
                  <td data-title="Apellido">
                    {{ userData.user.last_name }}
                  </td>
                  <td data-title="Nombre de usuario">
                    {{ userData.user.username }}
                  </td>
                  <td data-title="Acciones">
                    <button role="button" (click)="onSelectUserProfile(userData.user.id)">
                      <span class="material-icons sidenav-link-icon">person</span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </main>
        </div>

          <div class="center">
            <div class="pagination">
              <a class="button-38" (click)="onPreviousClick()">&laquo;</a>
              <a class="button-38" >{{paginationNumber()}}</a>
              <a class="button-38" (click)="onNextClick()">&raquo;</a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!loading && isContactMode && !showErrorSpinner">
        <div class="users-container">

          <div class="container search" style="display: flex; flex-wrap: wrap; align-items: flex-start;">
            <h1 class="text-2xl font-bold mb-2">Contactos</h1>
          </div>

          <div  class="container search" style="display: flex; flex-wrap: wrap; align-items: flex-start; gap: 5px; margin-bottom: 20px;" >
            <button (click)="onCreateUserClick()" class="button-38" role="button" style="margin-left: auto;">Crear</button>
          </div>

          <div class="table-container">
            <main>
              <table>
                <thead style="background-color: #01539B;">
                  <tr style="background-color: #01539B;">
                    <th style="background-color: #01539B;">
                      Nombre de usuario
                    </th>
                    <th style="background-color: #01539B;">
                      Acciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row" *ngFor="let userData of userProfiles">
                    <td data-title="Nombre de usuario">
                      {{ userData.username }}
                    </td>
                    <td data-title="Acciones">
                      <button role="button" (click)="onSelectUserProfile(userData.id)">
                        <span class="material-icons sidenav-link-icon">person</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </main>
          </div>

          <div class="center">
            <div class="pagination">
              <a class="button-38" (click)="onPreviousClick()">&laquo;</a>
              <a class="button-38" >{{paginationNumber()}}</a>
              <a class="button-38" (click)="onNextClick()">&raquo;</a>
            </div>
          </div>
        </div>
      </div>



      <div class="flex justify-center items-center" *ngIf="!loading && isBuscarAvzButtonActive && !showErrorSpinner">
        <ul>

          <li>
            <div class="p-6.5">
              <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    Nombre
                  </label>
                  <input type="text" placeholder="Nombre" [(ngModel)]="nombreInput"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>

                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    Apellido
                  </label>
                  <input type="text" placeholder="Apellido" [(ngModel)]="apellidoInput"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>
              </div>

              <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    Segundo nombre
                  </label>
                  <input type="text" placeholder="Segundo nombre" [(ngModel)]="segundoNombreInput"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>

                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    Segundo apellido
                  </label>
                  <input type="text" placeholder="Segundo apellido" [(ngModel)]="segundoApellidoInput"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>
              </div>

              <div class="mb-4.5 flex flex-col gap-6 xl:flex-row">
                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    Nombre de Usuario
                  </label>
                  <input type="text" placeholder="Nombre de Usuario" [(ngModel)]="usernameInput"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>

                <div class="w-full xl:w-1/2">
                  <label class="mb-2.5 block text-black">
                    Telefono
                  </label>
                  <input type="text" placeholder="Telefono" [(ngModel)]="telefonoInput"
                    class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
                </div>
              </div>

              <div class="mb-4.5">
                <label class="mb-2.5 block text-black">
                  Correo
                </label>
                <input type="email" placeholder="Correo" [(ngModel)]="emailInput"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>

              <div class="mb-4.5">
                <label class="mb-2.5 block text-black">
                  Documento legal
                </label>
                <input type="email" placeholder="Documento legal" [(ngModel)]="documentoLegalInput"
                  class="w-full rounded border-[1.5px] border-stroke bg-transparent py-3 px-5 font-medium outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />
              </div>

              <button class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" (click)="onSearchAvzClick()">
                Buscar
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
