<div class="margin-init">
  <ul class="tab-box-total flex flex-wrap text-sm font-medium text-center text-gray-500 dark:border-gray-700 dark:text-gray-400" style="margin-left: 310px;">
    <li class="me-2">
      <a class="tab-paddings inline-block p-4 rounded-t-lg text-blue-600 bg-color active">
      Expediente
    </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileInsuranceClicked()"  class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Seguro
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfilePoliciesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Poliza
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileHomeAddressClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Vivienda
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileCommunitiesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Comunidad
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileAccidentsClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Siniestro
      </a>
    </li>
  </ul>
  <div class="container rounded-md">

    <div>
      <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px;">Busqueda de expedientes</h1>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Referencia Claim Center</label>
        </div>
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Referencia del cliente</label>
        </div>
      </div>

      <div class="select-input-data">
        <label class="block text-black">Estado</label>
          <div class="input-data">
          <select>
            <option> </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Cliente</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Fecha de Inicio</label>
        </div>
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Fecha del siniestro</label>
        </div>
      </div>

      <h2 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px;">Datos del asegurado</h2>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Nombre del asegurado/a</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">NIF/CIF</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Póliza del seguro</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Teléfonos</label>
        </div>
      </div>

      <h2 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px;">Datos del expediente</h2>

      <div class="select-input-data">
        <label class="block text-black">Ramo y clase</label>
          <div class="input-data">
          <select>
            <option> </option>
          </select>
        </div>
      </div>

      <div class="select-input-data">
        <label class="block text-black">Causa del siniestro</label>
          <div class="input-data">
          <select>
            <option> </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Actividad</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Referencia de asistencia</label>
        </div>
      </div>

      <h2 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px;">Lugar de la acción</h2>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Calle</label>
        </div>
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Ciudad</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Código Postal</label>
        </div>
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label for="">Provincia/Estado</label>
        </div>
      </div>

      <div class="select-input-data">
        <button class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px; margin-bottom: 20px;">
          Buscar
        </button>
      </div>
    </div>

  </div>
</div>
