<div class="margin-init">
  <ul class="tab-box-total flex flex-wrap text-sm font-medium text-center text-gray-500 dark:border-gray-700 dark:text-gray-400" style="margin-left: 310px;">
    <li class="me-2">
      <a class="tab-paddings inline-block p-4 rounded-t-lg text-blue-600 bg-color active">
      Expediente
    </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileInsuranceClicked()"  class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Seguro
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfilePoliciesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Poliza
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileHomeAddressClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Vivienda
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileCommunitiesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Comunidad
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileAccidentsClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Siniestro
      </a>
    </li>
  </ul>
  <div class="container rounded-md">

    <div>
      <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px;">Expedientes</h1>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="assignment" type="text" required>
          <div class="underline"></div>
          <!--label for="">Cliente</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="code" type="text" required>
          <div class="underline"></div>
          <!--label for="">Referencia</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="description" type="text" required>
          <div class="underline"></div>
          <!--label for="">Descripción</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="policy_details" type="text" required>
          <div class="underline"></div>
          <!--label for="">Detalles de poliza</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="status" type="text" required>
          <div class="underline"></div>
          <!--label for="">Estado</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="type" type="text" required>
          <div class="underline"></div>
          <!--label for="">Tipo</label-->
        </div>
      </div>

      <!--div class="select-input-data">
        <button class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px; margin-bottom: 20px;">
          Editar
        </button>
      </div-->
    </div>

  </div>
</div>
