<div class="reputation-container-total">
  <div class="reputation-box-total flex items-center rounded-md">
    <ul class="user-list">
      <li>
        <section class="mb-5">
          <h1 class="text-2xl font-bold mb-2">Empresas</h1>
          <input type="text" placeholder="Search users" class="search-input border p-2">
        </section>
      </li>

      <li *ngFor="let companyData of companyProfiles.results">
        <div class="container mt-5">
          <a (click)="onCompanyProfileClick()">
            <div class="reputation-container flex justify-center">
              <div class="reputation-box flex items-center space-x-2 p-2 rounded-md">
                <div class="flex flex-col">
                  <div class="text-xl font-bold mb-1">{{ companyData.name}}</div>
                  <div class="text-sm text-gray-500 mt-1">{{ companyData.emails.email }}</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
