<div class="margin-init">
  <ul class="tab-box-total flex flex-wrap text-sm font-medium text-center text-gray-500 dark:border-gray-700 dark:text-gray-400" style="margin-left: 310px;">
    <li class="me-2">
      <a (click)="emitProfileFilesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
      Expediente
    </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileInsuranceClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Seguro
      </a>
    </li>
    <li class="me-2">
      <a class="tab-paddings inline-block p-4 rounded-t-lg text-blue-600 bg-color active">
        Poliza
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileHomeAddressClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Vivienda
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileCommunitiesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Comunidad
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileAccidentsClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Siniestro
      </a>
    </li>
  </ul>
  <div class="container rounded-md">


    <div *ngIf="!editEnabled">
      <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px;">Poliza</h1>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="policy_name" type="text" required>
          <div class="underline"></div>
          <!--label for="">Poliza</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="branch_type" type="text" required>
          <div class="underline"></div>
          <!--label for="">Ramo y clase</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="effect_date" type="text" required>
          <div class="underline"></div>
          <!--label for="">Fecha de póliza</label-->
        </div>
      </div>


      <div class="select-input-data">
        <button (click)="onEditEnabledClicked()" class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px; margin-bottom: 20px;">
          Editar
        </button>
      </div>
    </div>


    <div *ngIf="editEnabled">
      <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px;">Poliza</h1>

      <div class="form-row">
        <div class="input-data">
          <input [(ngModel)]="policy_name" type="text" required>
          <div class="underline"></div>
          <label for="">Poliza</label>
        </div>
      </div>

      <div class="select-input-data">
        <label class="block text-black">Ramo y clase</label>
          <div class="input-data">
          <select [(ngModel)]="branch_type">
            <option *ngFor="let choises of PolicyBranchTypeOptions" [value]="choises.type">{{ choises?.name }}</option>
          </select>
        </div>
      </div>

      <label for="" style="margin-left: 20px;">Fecha de póliza</label>
      <div class="form-row">
        <div class="input-data">
          <input type="datetime-local" [(ngModel)]="effect_date" required>
          <div class="underline"></div>
        </div>
      </div>


      <div class="select-input-data">
        <button (click)="updatePolicy()" class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px; margin-bottom: 20px;">
          Guardar
        </button>
      </div>
    </div>

  </div>
</div>
