<div style="background-color: #e6eaf8;">
  <app-top-menu></app-top-menu>

  <div class="flex">
    <!-- Contenido izquierdo -->
    <div>
      <app-navbar-menu (onToggleSideNav)="onToggleSideNav($event)"></app-navbar-menu>
    </div>

    <!-- Contenido central (ocupando dos tercios) -->
    <div class="flex-1 mx-auto">
      <app-landing *ngIf="landing"></app-landing>
      <app-users *ngIf="showUsers"></app-users>
      <app-companies *ngIf="showCompanies"></app-companies>
      <app-user-profile *ngIf="showUserProfile"></app-user-profile>
      <app-company-profile *ngIf="showCompaniesProfile"></app-company-profile>
      <app-user-edit *ngIf="showUserEdit"></app-user-edit>
      <app-user-create *ngIf="showCreateUser"></app-user-create>
      <app-company-create *ngIf="showCreateCompany"></app-company-create>
      <app-change-password *ngIf="showChangePassword"></app-change-password>
      <app-professional *ngIf="showProfessional"></app-professional>
      <app-files *ngIf="showFiles"></app-files>
      <app-task *ngIf="showTask"></app-task>
      <app-create-accidents *ngIf="showCreateAccidents"></app-create-accidents>
      <app-create-communities *ngIf="showCreateCommunities"></app-create-communities>
      <app-create-files *ngIf="showCreateFiles"></app-create-files>
      <app-create-guarantee *ngIf="showCreateGuarantee"></app-create-guarantee>
      <app-create-home-address *ngIf="showCreateHomeAddress"></app-create-home-address>
      <app-create-insurance *ngIf="showCreateInsurance"></app-create-insurance>
      <app-create-mediators *ngIf="showCreateMediators"></app-create-mediators>
      <app-create-policies *ngIf="showCreatePolicies"></app-create-policies>

      <app-accidents *ngIf="showProfileAccidents"></app-accidents>
      <app-communities *ngIf="showProfileCommunities"></app-communities>
      <app-profile-file *ngIf="showProfileFile"></app-profile-file>
      <app-guarantee *ngIf="showProfileGuarantee"></app-guarantee>
      <app-home-address *ngIf="showProfileHomeAddress"></app-home-address>
      <app-insurance *ngIf="showProfileInsurance"></app-insurance>
      <app-mediators *ngIf="showProfileMediators"></app-mediators>
      <app-policies *ngIf="showProfilePolicies"></app-policies>
    </div>
  </div>
</div>
