<div class="margin-init">
  <ul class="tab-box-total flex flex-wrap text-sm font-medium text-center text-gray-500 dark:border-gray-700 dark:text-gray-400" style="margin-left: 310px;">
    <li class="me-2">
      <a (click)="emitProfileFilesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
      Expediente
    </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileInsuranceClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Seguro
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfilePoliciesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Poliza
      </a>
    </li>
    <li class="me-2">
      <a class="tab-paddings inline-block p-4 rounded-t-lg text-blue-600 bg-color active">
        Vivienda
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileCommunitiesClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Comunidad
      </a>
    </li>
    <li class="me-2">
      <a (click)="onProfileAccidentsClicked()" class="tab-paddings inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">
        Siniestro
      </a>
    </li>
  </ul>
  <div class="container rounded-md">

    <div *ngIf="!editEnabled">
      <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px;">Vivienda</h1>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="street" type="text" required>
          <div class="underline"></div>
          <!--label for="">Dirección</label-->
        </div>

        <div class="input-data">
          <input disabled [(ngModel)]="city" type="text" required>
          <div class="underline"></div>
          <!--label for="">Ciudad</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="zip_code" type="text" required>
          <div class="underline"></div>
          <!--label for="">Codigo Postal</label-->
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input disabled [(ngModel)]="state" type="text" required>
          <div class="underline"></div>
          <!--label for="">Provincia / Estado</label-->
        </div>

        <div class="input-data">
          <input disabled [(ngModel)]="country" type="text" required>
          <div class="underline"></div>
          <!--label for="">País</label-->
        </div>
      </div>

      <div class="select-input-data">
        <button (click)="onEditEnabledClicked()" class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px; margin-bottom: 20px;">
          Editar
        </button>
      </div>
    </div>

    <div *ngIf="editEnabled">
      <h1 class="text-2xl font-bold mb-2" style="margin-top: 20px; margin-left: 20px;">Vivienda</h1>

      <div class="form-row">
        <div class="input-data">
          <input [(ngModel)]="street" type="text" required>
          <div class="underline"></div>
          <label for="">Dirección</label>
        </div>

        <div class="input-data">
          <input [(ngModel)]="city" type="text" required>
          <div class="underline"></div>
          <label for="">Ciudad</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input [(ngModel)]="zip_code" type="text" required>
          <div class="underline"></div>
          <label for="">Codigo Postal</label>
        </div>
      </div>

      <div class="form-row">
        <div class="input-data">
          <input [(ngModel)]="state" type="text" required>
          <div class="underline"></div>
          <label for="">Provincia / Estado</label>
        </div>

        <div class="input-data">
          <input [(ngModel)]="country" type="text" required>
          <div class="underline"></div>
          <label for="">País</label>
        </div>
      </div>

      <div class="select-input-data">
        <button (click)="updateHomeAddress()" class="flex w-full justify-center rounded bg-primary p-3 font-medium reputation-container button-38" style="margin-top: 20px; margin-bottom: 20px;">
          Guardar
        </button>
      </div>
    </div>

  </div>
</div>
